html,body{
  display: flex;
  width: 100%;
  height: auto;
  overflow-x: none;
}
body{
  flex-direction: column;
  background: linear-gradient(#fefefe ,#0511c0 95%);  
}

h2{
  text-align: center;
  margin: 3em auto;
  font-size: 30px;
  font-weight: bold;
}
p{
  font-size: 25px;
  padding:  auto 1em;
}
a{
  color: #000000;
  text-decoration: none;
}
/* navegacâo */

.logo-loja{
  margin-left: 2em;
  float: left;
  width: 12%;
}
.caixa{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, rgb(5, 17, 192), transparent);
}
.caixa ul{
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
}
.caixa ul li {
  padding: 14px 10px;
  font-size: 35px;
}

/* body */
.img-frente-da-loja{
  display: block;
  margin: 3em auto;
  width: 70%;
}
.principal-secon{
  margin:auto 4em;
  /* background: white; */
  /* color: aliceblue; */
}
.img-equipe{
  width: 15%;
  height: auto;
  margin-right: 10px;
  float: left;
}

/* Servicos */

.servicos{
  width: 940px;
  text-align: center;
  margin: 0 auto;
}

/* Contatos */
.contatos p {
  margin-left: 12px;
  padding-top: 1em;
  text-align: center;
}

.linkwhats{
  margin: 0 auto;
  width: 100px;
  height: auto;
}
.linkwhats a{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
.linkwhats p{
  white-space: nowrap;
}
.img-whatsapp{
  width: 100%;
  margin-left: -3em;

}

/* footer */
.rodape p {
  margin-left: 1em;
  font-size: small;
}
.rodape{
width: 100%;
padding: 10px 0;
position: relative;
bottom: 0;
background: rgb(5, 17, 192);
margin-top: 4em;
}
